<%= render "layouts/mobileheader" %>
<div class="row">
   <div class="col-lg-2">
      <%= render "layouts/header" %>
   </div>

   <div class="col-lg-10"> 
    <div class="aboutme">     
        <h6 style="font-weight: bold">About Black Hole Jumper:</h6>
        <p>I like the idea of "black hole jumper". My life as a human is to explore as many interesting things as possible on Earth. Once I die, I jump into another universe and start a new journey.</p>
    </div>
     <div class="aboutme">     
        <h6 style="font-weight: bold">Bio:</h6>
        <p>I grew up in costal city in Southern China. In 2021, I graduated in Carleton College in Minnesota with a degree in computer science. I am currently working as a software engineer at Microsoft. </p>
        <p>I love traveling. In 2016, I took a gap year and traveled to Peru, Bolivia, South Africa and Nepal for 9 months. Opening my heart and mind to the world shaped my perspective and gave me insights about my own place in the world.</p>
        <p>As a nature lover, I am into hiking, riding bikes and canoeing, etc. In the summer of 2021, I spent 77 days in the wilderness in Colorado, Wyoming and Utah doing backpacking, rafting and rock climbing. Being with nature clears my mind and enables me to find simple beauty.</p>
        <p>Feel free to chat with me for interesting projects or simply want to connect at wyw1160275520@gmail.com</p>
    </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://s3.amazonaws.com/backgroundpicture/IMG-2460.jpg">
          </div>
          <%@pictures.each do |picture| %>
            <div class="carousel-item ">
              <img class="d-block w-100" src="<%= picture.presigned_url(:get) %>">
            </div>
          <% end %>     
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>

</div>
