<%= render "layouts/mobileheader" %>
<div class="row">
   <div class="col-lg-2">
      <%= render "layouts/header" %>
   </div>
   <div class="col-lg-10 project">
      <img class="projectpic" src="https://s3.amazonaws.com/backgroundpicture/37007091_681187645562452_5222419231068389376_o.jpg">
      <a href="https://1160275520.github.io/Ghosts-Hunting/" style="color: black">
         <h6 class="projectdesc">Ghost Hunting</h6>
      </a>
      <p class="projectdetail">a spooky halloween game made with Javascript, Jquey, HTML and CSS, inspired by the classical space invade game</p>
  </div>
</div>