<%= render "layouts/mobileheader" %>
<div class="row">
   <div class="col-lg-2">
      <%= render "layouts/header" %>
   </div>
   <div class="col-lg-10 mobilebody">
      <div class = "videowrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QaRRtE2kNgk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
      </div>
      <p class="videodesc">"After 15 days, I left Nepal. But I know, deep in my heart, I have never left." In 2016, I took a gap year from college and went to Nepal. This video documented my 15 days in Nepal.</p>
      <div class = "videowrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ft6t18PjRzI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <p class="videodesc">In 2017, I went to South Africa and volunteered in the township of Masiphumelele.I tutored the high school learners math and english. But after 6 weeks, I realized that they had taught me much more.</p>
      <p class="videodesc" style="color:white;">In 2017, I went to South Africa and volunteered in the township of Masiphumelele.I tutored the high school learners math and english. But after 6 weeks, I realized that they had taught me much more.</p>
  </div>
</div>
