<nav id="mobilenav" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id="navtitle" href="/">A Black Hole Jumper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" id="navtitle">
      <li class="nav-item active">
        <a class="nav-link" id="navtitle" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navtitle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Photos
        </a>
        <div class="dropdown-menu" id="center" aria-labelledby="navbarDropdown" style="background-color: darkgrey;">
          <a class="dropdown-item" id="navtitle" href="/capetown">Cape Town</a>
          <a class="dropdown-item" id="navtitle" href="/southafrica">South Africa</a>
          <a class="dropdown-item" id="navtitle" href="/nepal">Nepal</a>
          <a class="dropdown-item" id="navtitle" href="/peru">Peru</a>
          <a class="dropdown-item" id="navtitle" href="/bolivia">Bolivia</a>
          <a class="dropdown-item" id="navtitle" href="/apuausangate">Apu Ausangate</a>
          <a class="dropdown-item" id="navtitle" href="/machupicchu">Machu Picchu and Around</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="navtitle" href="/video">Videos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="navtitle" href="/project">Projects</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="navtitle" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>